.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: repeat(2);
  column-gap: 17px;
  row-gap: 20px;
  justify-content: center;
  justify-items: center;
  max-width: 100%;
}

@media screen and (max-width: 930px) {
  .cards {
    grid-template-rows: repeat(3);
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 740px) {
  .cards {
    margin: 0 19px;
  }
}