.page {
  margin: 0 auto;
  background-color: #000000;
  display: grid;
  min-width: 320px;
  color: white;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  grid-template-columns: minmax(320px, 880px);
  grid-template-rows: auto 2fr auto;
  justify-content: center;
  grid-template-areas:
    "header"
    "content"
    "footer";
  box-sizing: border-box;
  min-height: 100vh;
}


