.popup__container{
  background-color: white;
  width: 100%;
  max-width: 430px;
  font-family: Inter;
  padding: 34px 36px 37px;
  font-size: 16px;
  line-height: 26px;
  box-shadow: 0 0px 4px25rgba(0, 0, 0, .15);
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}


@media screen and (max-width: 540px) {
  .popup__container{
    width: 282px;
    height: 322px;
    padding: 25px 22px;
  }
}