.element__btn-like {
  width: 22px;
  height: 19px;
  padding: 0;
  border: 0;
  background-color: white;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.element__btn-like:hover {
  opacity: 50%;
}
