.popup__close{
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.popup__close:hover{
  opacity: 50%;
}


@media screen and (max-width:540px){
  .popup__close{
    width: 20px;
    height: 20px;
    right: 0;
  }
}