.profile__description {
  margin: 0;
  margin-top: 16px;
  font-size: 18px;
  line-height: 22px;
  grid-row: 2/3;
  max-width: 350px;
}

@media screen and (max-width: 450px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    margin-top: 14px;
  }
}