.card__btn-delete {
  background-image: url(../../../images/trash.svg);
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 18px;
  height: 20px;
}
.card__btn-delete:hover {
  opacity: 0.6;
  cursor: pointer;
}