.header {
  margin: 0;
  padding: auto;
  padding-top: 45px;
  padding-bottom: 41px;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  grid-area: header;
}

@media screen and (max-width: 930px) {
  .header {
    margin: 0 30px;
  }
}
@media screen and (max-width: 750px) {
  .header {
    margin: 0 19px;
  }
}
@media screen and (max-width: 350px) {
  .header {
    margin: 0;
    padding-top: 28px;
    padding-bottom: 32px;
  }
}
